<template name="posts">
    <div id="main" class="row-fluid">
        <div class="posts page">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#vote">By votes</a></li>
                      <li class="divider"></li>
                      <li><a href="#name">By name</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" id="search" value="{{filter}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
            <div class="wrapper">
                {{#each posts}} {{> postItem}} {{/each}}
            </div>
        </div>
    </div>
</template>
